<div class="container">
  <section class="mt-4 mb-4">
    <mat-card>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <mat-card-title>{{country?.name}} cities</mat-card-title>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="addCity()"
        >
          Add City
          <mat-icon>queue</mat-icon>
        </button>
      </div>
      <mat-card-content>
        <div class="mat-elevation-z8" *ngIf="!loading">
          <table mat-table [dataSource]="dataSource">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- CityName Column -->
            <ng-container matColumnDef="cityName">
              <th mat-header-cell *matHeaderCellDef> City Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Edit Column-->
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  aria-label="Example icon button with a vertical three dot icon"
                  type="button"
                  mat-raised-button
                  color="primary"
                  matTooltip="primary"
                  class="icon-button-small"
                  (click)="EditCity(element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Delete Column-->
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  aria-label="Example icon button with a delete icon"
                  type="button"
                  mat-raised-button
                  color="primary"
                  matTooltip="Delete"
                  (click)="deleteCity(element.id)"
                  class="icon-button-small"
                ><mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!-- <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator> -->
          <div
            *ngIf="loading"
            class="d-flex justify-content-center align-items-center bg-white"
          >
            <mat-progress-spinner
              color="primary"
              mode="indeterminate">
            </mat-progress-spinner>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
